{% load staticfiles %}
<!DOCTYPE html>
        <html>
          <head>
            <title> Annabelle Liu's Website </title>
            <link href ="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Caveat" rel ="stylesheet" type= "text/css">
            <link rel="stylesheet" href="{% static 'css/styles.css' %}">
            <script src="{% static 'js/slder.js' %}"></script>
          </head>

          <body>
            <div>
              <ul id="nav">
                <a href = "#About Me"><li> About Me</li> </a>
                <a href = "#Fun Facts"><li> Fun Facts</li> </a>
                <a href = "#Favorite Music"><li> Favorite Music</li> </a>
                <a href = "#Likes"><li> Likes</li> </a>
                <a href = "#Dislikes"><li> Dislikes</li> </a>
                <a href = "#Links"><li> Links</li> </a>
                <a href = "#Art Gallery"><li> Art Gallery</li> </a>
                <a href = "#Girls Who Code Experience"><li> Girls Who Code Experience</li> </a>
                <a href = "posts"><li>Blog</li> </a>
              </ul>
            </div>
              <h1>Annabelle Liu</h1>
                <p id="greeting"> Welcome! Have a scroll around and get to know me better :)</p>
                <img src ="IDphoto.jpg" alt "Annabelle's profile picture" width = "256" height = "383">
            <div id ="About Me">
              <h2>About Me</h2>
                <p> I am a rising Senior at Rye Country Day School this year. My birthday is September 23rd, and I will be turning 18. I was born in Hong Kong and lived in Beijing until I was 7, where I first attended Western Academy of Beijing and later the International School of Beijing. I now live in Greenwich, CT with my 3 siblings. I have a 20 year old, 9 year old brother and 7 year old sister. This summer, on top of working as a part-time hostess at a French restaurant in Old Greenwich, I am participating in Girls Who Code: Microsoft and having a great time!</p>
            </div>
            <div id = "Fun Facts">
              <h2>Fun Facts</h2>
                <p>
                    <ul class="icon">
                      <li>I can fit my fist in my mouth</li>
                      <li>I am left handed</li>
                      <li>I was born with jaundice 3 weeks early during a typhoon</li>
                      <li>Chinese was my first language, but unfortunately I am no longer fluent</li>
                    </ul>
                </p>
            </div>
            <div id = "Favorite Music">
              <h2>Favorite Music</h2>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.64c6d853d39c4578ada57f9020eba954?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-vxy669Yu1jDVRX?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-Ymb09MmFxK4Aok?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-ZmbllpGIzXWNa4?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-leyl0klHx6EXze?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-BNA66JeTpoJWZM?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-ZmbllxlszXWNa4?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-BNA6rg6FpoJWZM?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-ZmblVPmhzXWNa4?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.85c33e9ab65c43b5ad5336597de670d2?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-PDb44ZpTk3Wlzx?country=us" height="500px" width="75%" frameborder="0"></iframe>
                  <iframe src="//tools.applemusic.com/embed/v1/playlist/pl.u-vxy6kB5T1jDVRX?country=us" height="500px" width="75%" frameborder="0"></iframe>
            </div>
            <div id ="Likes">
              <h2>Likes</h2>
              <ul class = "icon">
                <li> Skiing, especially in Aspen, CO (I started when I was 3)</li>
                <li> Fall and Winter (I love the cold!) </li>
                <li> Field Hockey </li>
                <li> Squash (recreationally)</li>
                <li> Creating and seeing art (my favorite medium is ink)</li>
                <li> Working with children (I volunteer in the Fall and Winter helping first graders with literacy skills) </li>
                <li>Ben and Jerry's ice cream (Chunkey Monkey, Coffee Toffee Crunch, Cherry Garcia)</li>
                <li>Strawberry milkshakes</li>
                <li>Chocolate cake with vanilla frosting</li>
                <li><a href ="https://docs.google.com/document/d/1TGn6BiLHDiuet29H5PaR42dumdUbyc2hc_lHhPf527Q/edit?usp=sharing"> Hawai'i </a></li>
              </ul>
            </div>
            <div id = "Dislikes">
              <h2>Dislikes</h2>
                <ul class = "icon">
                  <li>Milk</li>
                  <li>Heavy mouth breathers</li>
                  <li>Incorrect grammar</li>
                  <li>People who walk too slowly</li>
                  <li>Eating with an open mouth</li>
                  <li>Bell peppers</li>
                </ul>
            </div>
            <div id ="SocialMedia">
              <h2>Social Media</h2>
                <p>
                  <a href ="https://www.snapchat.com/add/annabelle_liu"><img src = "SnapchatIcon.png" width = "50" height = "50"></a>
                </p>
                <p>
                  <a href="https://www.instagram.com/annabelle_liu/" ><img src = "InstagramIcon.png" width = "53" height = "53"></a>
                </p>
                <p>
                  <a href="https://www.facebook.com/annabelle.liu.750" > <img src = "{% static 'img/FacebookIcon.png' %}" width = "50" height = "50"></a>
                </p>
              </div>
              <div id = "Art Gallery">
              <h2>Art Gallery</h2>
              </div>
              <div id = "Girls Who Code Experience">
              <h2>Girls Who Code Experience</h2>
              </div>
            </div>
          </body>
        </html>
